{%extends "template.html.twig"%}
{%block title%}Pfe Details{%endblock%}
{%block pageTitle%}Pfe Details{%endblock%}
{%block body%}
    <div>
       <ul class="list-group">
           <li class="list-group-item">Title: {{pfe.title}}</li>
           <li class="list-group-item">Student: {{pfe.student}}</li>
           <li class="list-group-item">Entreprise: {{pfe.entreprise}}</li>
       </ul>
    </div>
{%endblock%}