{%extends "template.html.twig"%}
{%block title%}Pfe{%endblock%}
{%block pageTitle%}Pfe{%endblock%}
{%block body%}
    <div>
        <ul class="list-group">
            <li class="list-group-item">Title</li>
            <li class="list-group-item"></li>
            <li class="list-group-item">Student</li>
            <li class="list-group-item"></li>
            <li class="list-group-item">Entreprise</li>
            <li class="list-group-item"></li>
        </ul>
    </div>
{%endblock%}
